.button-wrapper {
    background-color: rgb(6, 62, 249);
    outline: none;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 12px;
    color: #fffffa;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        background-color: rgb(161, 161, 161);
        cursor: default;
    }
}
